<h1><%= @link.pretty_title %></h1>
<p><%= @link.og_description %></p>

<h2>Posts (<%= @link.posts.count %>)</h2>
<ul>
<% @link.posts.includes(:actor).order("actor.followers_count DESC").each do |post| %>
    <li><%= link_to post.text, post.url, target: :blank %> by <%= link_to post.actor.handle, post.actor.url %></li>
<% end %>
</ul>

<h2>Authors (<%= @link.actors.count %>)</h2>
<ul>
<% @link.actors.each do |actor| %>
<li><%= link_to actor.handle, actor.url, target: :blank %></li>
<% end %>
</ul>

<h2>Languages (<%= @link.languages.count %>)</h2>
<ul>
<% @link.languages.each do |language| %>
<li><%= language.country %></li>
<% end %>
</ul>


<h2>Tags (<%= @link.tags.count %>)</h2>
<ul>
<% @link.tags.each do |tag| %>
<li><%= tag.label %></li>
<% end %>
</ul>


<% if @link.mentions.count %>
<h2>Mentions (<%= @link.mentions.count %>)</h2>
<ul>
<% @link.mentions.each do |mention| %>
<li><%= link_to mention.handle, mention.url, target: :blank %></li>
<% end %>
</ul>
<% end %>